# Python  
__pycache__/  
*.py[cod]  
*.egg-info/  
dist/  
build/  
  
# 虚拟环境  
rag_proj_env/  
rag_proj_env_good/  
venv/  
venv_finetune/  
env/  
.venv/  

  
# 模型大文件  
models/  
*.bin  
*.safetensors  
  
# 向量库  
data/vector_db/  
  
# 日志  
logs/  
*.log  
  
# 环境变量  
.env  
  
# IDE配置  
.vscode/  
.idea/  
  
# 系统文件  
.DS_Store  
Thumbs.db 
